{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "quotes": [2, "double", { "avoidEscape": true }],
    "no-bitwise": 0,
    "no-plusplus": 0,
    "comma-dangle": [2, "only-multiline"],
    "no-param-reassign": [2, { "props": false } ],
    "key-spacing": [2, {
      "singleLine": { "beforeColon": false, "afterColon": true },
      "multiLine": { "beforeColon": true, "afterColon": true, "mode": "minimum" }
    }]
  }
}
